<div class="row">
    <div class="col-md-12">
        <br />
        <h2>Courses</h2>
        <hr />

        <a href="/courses/add" class="btn btn-success float-right mb-2">Add New Course</a>
        <div class="table-responsive">
            <table class="table">
                <tr>
                <th>Course Code</th>
                <th>Course Description</th>
                <th></th>
                </tr>
            {{#each courses}}
                <tr>
                <td><a href="/courses/{{courseId}}">{{courseCode}}</a></td>
                <td><a href="/students/?course={{courseId}}">{{courseDescription}}</a></td>
                <td><a class="btn btn-danger" href="/courses/delete/{{courseId}}">delete</a> </td>
                </tr>
            {{/each}}
            </table>
        </p>
        <p>
    </div>
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
</div>
